<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/img/favicon.ico" />
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./public/assets/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Store</title>
  </head>
  <body class="pt-5">
    <div id="main" class="container text-center py-4">
      <!-- Navigation -->
      <%- include('./views/navigation.html'); %>
      <!-- Main Container -->
      <div id="content" class="row justify-content-center gy-md-5 gy-3"></div>
      <!-- Single Item Modal -->
      <%- include('./views/single-item-modal.html'); %>
      <!-- Shopping card -->
      <%- include('./views/card.html'); %>
    <script type="module" src="./public/assets/main.js"></script>
  </body>
</html>