@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

h1,h2,h3,h4,h5,h6,p,span  {
  font-family: 'Roboto', sans-serif;
}

/* jumble all elements into a single button */
button * {pointer-events: none;}

body {
  background-image: url('../img/bg-2331x1322-s.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
}

main {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
}

@media (max-width: 400px) {
  .navbar {
    padding-left: 0;
  }
}

.nav-item label{
  display: inline-block;
  color: grey;
}

.navbar-toggler {
  width: 55px;
}

.navbar-brand {
  text-align: start;
  margin-left: 10%;
}

.btn {
  min-width: 50px;
  max-width: 200px;
  border-radius: 25px;
}

/* Item List */

.card {
  --bs-card-spacer-y: 0;
}

.item-list-card {
  width: 18rem;
}

.item-list-card .card-img-top {
  cursor: pointer;
}

.item-list-card .btn-outline-success {
  margin-right: 60px;
}


/* Shopping Card */

#shopping-list h5 {
  margin-bottom: 10px;
}

#shopping-list ul li {
  list-style: none;
}

#shopping-list .book-details-grp ul {
  max-width: 255px;
}

#shopping-list .badge{
  cursor: pointer;
  margin-left: 5px;
  min-width: 25px;
}

#shopping-list .img-thumbnail {
  width: 45px;
}

.book-details-grp {
  overflow: hidden;
}

.fixed-bottom {
  max-width: 400px;
}

.offcanvas-body {
  margin-bottom: 80px;
}


/* Single book */

#single-item-modal .modal-body .card-img-top{
  width: 60%;
  margin: 0 auto 20px;
}

#single-item-modal .modal-title {
  font-weight: bold;
  font-size: 2rem;
}

#single-item-modal .btn-close {
  margin: 0;
}

#single-item-modal .card-title {
  font-weight: bold;
}